<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Продукты</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <a style="color: white;" class="nav-link active" href="/categories">Категории</a>
      </div>
          {% if user.is_authenticated %}
            <a style="color: white;" class="nav-link active" href="{% url 'logout' %}">Выйти </a>
            <a style="color: white;" class="nav-link active" href="{% url 'profile' %}"> Профиль</a>
          {% else %}
            <a style="color: white;" class="nav-link active" href="{% url 'register' %}">Зарегистрироваться</a>
            <a style="color: white;" class="nav-link active" href="{% url 'login' %}">Войти</a>
          {% endif %}
  </div>
</nav>


{% for item in product %}

<h3>{{ item.title }} / {{ item.slug }} / {{ item.price }} рублей</h3>
<br>
<div style="margin-left: 40px">
    {% for item_photo in item.photos.all %}

        <img src="{{ item_photo.product_photo.url }}" width="200px" height="70px">
    {% endfor %}


    <h5>{{ item.subcategory }}  ({{ item.subcategory.category }})</h5>


    {% if user.is_authenticated %}
        <form action="{% url 'add_basket' title=item.title  %}" method="get" enctype="multipart/form-data">
            {% csrf_token %}
            <small>Чтобы добавить товар в корзину введите желаемое колличество товаров и нажмите кнопку "Добавить"</small><br>

            <input name="count" type="search" placeholder="Количество товаров" aria-label="Search" required="">
            <button type="submit">Добавить</button>
        </form>
    {% endif %}
</div>

<br><br>
{% endfor %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>